
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #ffffff;
}

body {
  background-color: var(--background-color);
}

h1{
  font-size: 50px;
}

.hero {
  background-color: rgb(242, 235, 213);
  width: 100%;
  height: 80vh;
  min-height: 850px;
  position: relative;
}


.hero::after {
  content: "";
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}
.hero > div {
  display: flex;
  background-color: rgb(242, 235, 213);
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  height: 100%;
}


.css-1kymlmm-MuiStack-root>:not(style)~:not(style) {
margin-top: 0;
border-top: 1px solid black;
}

.intro {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 100px;
}

.intro > h1 {
line-height: 10rem;
font-size: 90px;
}

.intro > p {
  font-size: 2.5rem;
}

.header {
  border-radius: 20px 20px 0 0;
}

.main-stack {
  border-radius: 20px;
  margin: 2rem auto 5.5rem auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Add-btn {
  margin-bottom: 10rem;
  outline: 3px #1976d2 solid;
  padding: 1rem 5rem;
  border-radius: 50px;
  transition: .4s all ease-in-out;
  font-size: 20px;
}

.Add-btn:hover {
  transition: .4s all ease-in-out;
  background-color:#1976d2;
  color: white;
}

#image1 {
  margin: 3rem 0;
  border-radius: 30px;
}